ADMIN_EMAIL=
WEBUIBOXEDLAYOUT=traditional
WEBTHEME=default-dark
WEBPASSWORD=ed831907faef1cebeaaca05546b0252d0608b55177d5baaf82895aefe9bc8df0
PIHOLE_INTERFACE=wlan0
IPV4_ADDRESS={{ ansible_all_ipv4_addresses }}/24
IPV6_ADDRESS={{ ansible_all_ipv6_addresses }}
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
DNSMASQ_LISTENING=local
PIHOLE_DNS_1=127.0.0.1#5335
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=true
REV_SERVER=true
REV_SERVER_CIDR=192.168.0.0/16
REV_SERVER_TARGET=192.168.0.1
REV_SERVER_DOMAIN=local
BLOCKING_ENABLED=true
